<a href="https://colab.research.google.com/github/zeynepyilmazz/DataScienceBootcamp/blob/main/02.FurtherintoPython/02.Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Please form a multiplication table from user input.

    Example :

        Enter a number : 6
        6 x 1 = 6                                                               
        6 x 2 = 12                                                              
        6 x 3 = 18                                                              
        6 x 4 = 24                                                              
        6 x 5 = 30                                                              
        6 x 6 = 36                                                              
        6 x 7 = 42                                                              
        6 x 8 = 48                                                              
        6 x 9 = 54                                                              
        6 x 10 = 60

In [ ]:
number = int(input("Enter a number :"))
for i in range(1,11):
  print("{} x {} = {}".format(number,i,number*i))

Enter a number :7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**(2)** Simply by using list compherension, form a list by taking square of odds numbers and by calculating cube of even numbers from 1 to 20.

In [ ]:
liste = [i**3 if i % 2 == 0 else i**2 for i in range(1,21)]
print(liste)

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096, 289, 5832, 361, 8000]

**(3)** Please type a code that inverts the initial user input.

    Example : "automobile" --> "elibomotua"

In [ ]:
word = input("word :")
ters = ""
for i in range(len(word) - 1,-1,-1):
  ters = ters + word[i]

print("{} ---> {}".format(word,ters))

word :orange
orange ---> egnaro

**(4)** Using `range(1, 201)`, make two lists. One is containing all even numbers and the other containing all odd numbers.

In [ ]:
odd_list=[]
even_list = []
for i in range(0,201):
  if i % 2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)

print(odd_list)
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

**(5)** Define a function called `count` that has two arguments called `sequence` and `item`. Return the number of times the item occurs in the list.<br>

    Example:
    ```python
    count([1,2,1,1], 1)
    ```
    It should return 3. Because `1` appears 3 times in the list.

In [ ]:
def count(sequence , item):
  count = 0
  for i in sequence:
    if (item == i):
      count +=1
  return count

In [ ]:
count([1,2,1,1,1,1], 1)

5

**(6)** Write a function called `digit_sum` that takes a positive integer n as input and returns the sum of all that number's digits as a single-digit number.

    Example:
        27684 --> 2 + 7 + 6 + 8 + 4 = 27 --> 2 + 7 = 9

In [ ]:
def digit_sum(num):
  sum = 0
  while True:
    while num != 0:
      sum += num % 10
      num = num // 10
    if (sum > 9):
      num = sum
      sum = 0
    else:
      break
    
  print(sum)

In [ ]:
digit_sum(27684)

9

**(7)** Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
first_num = int(input("ilk sayıyı giriniz:"))
second_num = int(input("ikinci sayıyı giriniz:"))
GCD = 1
i = 2
while first_num != 1 or second_num != 1 :
  if (first_num % i == 0 and second_num % i == 0):
    GCD = GCD * i
    first_num = first_num / i
    second_num = second_num /i
  elif (first_num % i == 0):
    first_num = first_num / i
  elif (second_num % i == 0):
    second_num = second_num /i
  else:
    i = i + 1


print("GCD: {}".format(GCD))

ilk sayıyı giriniz:6
ikinci sayıyı giriniz:18
GCD: 6

**(8)** Write a Python program that iterates integers from 1 to 50. For multiples of three print `fizz` instead of the number and for the multiples of five print `buzz`. For numbers which are multiples of both three and five print `fizzbuzz`.

In [ ]:
liste = list(range(1,51))
for i in liste:
  if (i % 3 == 0 and i % 5 == 0):
    print("fizzbuzz")
  elif (i % 3 == 0):
    print("fizz")
  elif (i % 5 == 0):
    print("buzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

**(9)** Please form a list out of Fibonacci numbers from 1 to 50. The first two Fibonacci numbers are 1. The next numbers are the sum of the previous two.

In [ ]:
fibonacci_list = [0,1]
i = 1
while True:
  if (fibonacci_list[i - 1] + fibonacci_list[i] >=50):
    break
  fibonacci_list.append(fibonacci_list[i - 1] + fibonacci_list[i])
  i = i + 1
  
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]