<a href="https://colab.research.google.com/github/zeynepyilmazz/DataScienceBootcamp/blob/main/02.FurtherintoPython/04.Errors_Exceptions_Handling_en.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Let us define a division operation inside a function (using `def`) but to get an error, define the denominator as 0. So, type properly except statement.

In [ ]:
def division(x,y):
  try :
    return x / y
  except ZeroDivisionError:
    print("ZeroDivisionError")

division(10,0)

ZeroDivisionError

**(2)** It is possible to get multiple errors after the execution of one try block. So, please define an error-exception issue with `NameError`.

In [ ]:
num = 123
try:
  print(number)
except NameError:
  print("NameError ")

NameError

**(3)** Please define a function and with this function, generate a `ValueError` exception simply by entering a string instead of numerical value.

In [ ]:
def square(x):
    return x**2

In [ ]:

while True :
  try:
    number = int(input('Please enter a number:\n'))
    print("{} ** 2 = {} ".format(number,square(number)))
    break
  except ValueError:
    print("ValueError . Try again")

Please enter a number:
a
ValueError . Try again
Please enter a number:
5
5 ** 2 = 25