<a href="https://colab.research.google.com/github/zeynepyilmazz/DataScienceBootcamp/blob/main/03.PythonDataScienceLibraries/04.DataFrameBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.You can write the numbers and letters manually.

In [1]:
import pandas as pd

In [2]:
alphabet = ['a','b','c','d','e','f','g','h','i','j']
prime = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
df = pd.DataFrame(index=alphabet)
df["prime"] = prime
df["fibonacci"] = fibonacci
df

   prime  fibonacci
a      2          0
b      3          1
c      5          1
d      7          2
e     11          3
f     13          5
g     17          8
h     19         13
i     23         21
j     29         34