<a href="https://colab.research.google.com/github/zeynepyilmazz/DataScienceBootcamp/blob/main/01.PythonforEveryone/05.Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Create a dictionary with 7 days. Ask the user to choose 2 different days by listing the (e.g. "12" for Monday and Tuesday). Delete the user-selected days from the dictionary and print the remaining 5 days on the screen.

In [ ]:
days = {1: 'Monday', 2: 'Tuesday' , 3: 'Wednesday', 4: 'Thursday', 5:'Friday' , 6: 'Saturday', 7: 'Sunday'}
bilgi = input("Write two days to delete :")
del days[int(bilgi[0])]
del days[int(bilgi[1])]
print(days)

Write two days to delete :12
{3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

**(2)** Create a dictionary with the following personnel. Use names as keys.

|Name|Age|Sex|
|-|-|-|
|John|25|Male|
|Lisa|28|Female|
|Linda|32|Female|
|Michael|41|Male|

In [ ]:
information = { 'John' : { 'age' : 25 ,'sex' : 'male'},
                'Lisa' : { 'age' : 28 ,'sex' : 'female'},
                'Linda' : { 'age' : 32 ,'sex' : 'female'},
                'Michael' : { 'age' : 41 ,'sex' : 'male'}
               }
print(information)

{'John': {'age': 25, 'sex': 'male'}, 'Lisa': {'age': 28, 'sex': 'female'}, 'Linda': {'age': 32, 'sex': 'female'}, 'Michael': {'age': 41, 'sex': 'male'}}

**(3)** Add child information to Michael and Linda. Michael has two children (Karen (age : 12, female) and Greg (age : 7, male) and Linda has one child (Susan (age: 6, female))

In [ ]:
information['Michael'].update({ 'çocuk' : { 'Karen' : {'age' : 12 , 'sex' : 'female' } , 'Greg' : { 'age' : 7 , 'sex' : 'male'} } })
print(information)

{'John': {'age': 25, 'sex': 'male'}, 'Lisa': {'age': 28, 'sex': 'female'}, 'Linda': {'age': 32, 'sex': 'female'}, 'Michael': {'age': 41, 'sex': 'male', 'çocuk': {'Karen': {'age': 12, 'sex': 'female'}, 'Greg': {'age': 7, 'sex': 'male'}}}}

In [ ]:
information['Linda'].update({ 'çocuk' : { 'Susan' : {'age' : 6 , 'sex' : 'female' } } })

print(information)

{'John': {'age': 25, 'sex': 'male'}, 'Lisa': {'age': 28, 'sex': 'female'}, 'Linda': {'age': 32, 'sex': 'female', 'çocuk': {'Susan': {'age': 6, 'sex': 'female'}}}, 'Michael': {'age': 41, 'sex': 'male', 'çocuk': {'Karen': {'age': 12, 'sex': 'female'}, 'Greg': {'age': 7, 'sex': 'male'}}}}

**(4)** Print the names of Michael's children in a list.

In [ ]:
print(list(information['Michael']['çocuk'].keys()))

['Karen', 'Greg']