<a href="https://colab.research.google.com/github/zeynepyilmazz/DataScienceBootcamp/blob/main/01.PythonforEveryone/06.Tuples_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)** Create a tuple named "week" containing weekdays.

In [ ]:
week = ('Monday', 'Sunday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(week)

('Monday', 'Sunday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

**(2)** Create a set named "fruits" containing followings: apple, mango, orange

In [ ]:
fruits = {'mango' , 'apple' , 'orange'}
print(fruits)

{'mango', 'orange', 'apple'}

**(3)** Create a new set named "new_fruits" containing followings: cherry, peach, apple, mango

In [ ]:
new_fruits = {'cherry' , 'peach' , 'apple' , 'mango'}
print(new_fruits)

{'peach', 'apple', 'mango', 'cherry'}

**(4)** Find the fruits which are in new_fruits but not in fruits.

In [ ]:
print("Only in new fruits",new_fruits.difference(fruits))

Only in new fruits {'peach', 'cherry'}

**(5)** Find the fruits which are in both new_fruits and fruits.

In [ ]:
print("Both in new fruits and fruits" , new_fruits.intersection(fruits))

Both in new fruits and fruits {'mango', 'apple'}